<template>
  <h1>게시글 작성 페이지입니다.</h1>
</template>
<script>
  export default {
  name: '',
  components: {},
  data() {
    return {
      sampleData: ''
    }	
  },
  setup() {},
  created() {},
  mounted() {},
  unmounted() {},
  methods: {},
  }
</script>